
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Admin Page</h2>

<form method="post" asp-controller="Admin" asp-action="DeleteAllBudgets">
    <button class="btn btn-primary btn-sm" type="submit">
        Delete Budgets in DB
    </button>
</form>






